.navigation {
    &__list {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
    }

    &__link {
        background: #29b0ff;
        padding: .5rem 1rem;
        min-width: 100px;
        text-decoration: none;
        color: #FFFFFF;

        &:hover {
            color: #ff6c00;
        }
    }
}
