.navigation {
    &__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__item {
        a {
            color: #000;
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }
    }
}
